body {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  min-height: 100vh;
  color: white;
  text-align: center;
}
<!--reference for making an image the entire background https://www.w3schools.com/html/html_images_background.asp-->
.home-page {
  background-image: url('images/15576401542_6fa254bda0_o.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-page {
  background-color: #1c2230;
}
.artist-page {
  background-color: rgb(137, 55, 30);
}
<!--reference for box model used for the artist profile https://www.w3schools.com/css/css_boxmodel.asp--!>
<!--reference for overflow https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap-->
.artist-box {
  background-color: #400406;
  padding: 30px;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #a36c5f;
  font-size: 14px;
  font-weight: 200;
  overflow-wrap: break-word;
}
<!--reference for heading tags https://www.w3schools.com/tags/tag_hn.asp-->
<!--reference for list item element https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/li -->
<!--reference for unordered list element https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/ul -->
<!--reference for box shadow https://www.w3schools.com/css/css3_shadows_box.asp -->

.artist-box p {
  font-size: 14px;
  font-weight: 200;
}

.artist-box li {
  font-size: 14px;
  font-weight:200;
}

.artist-box h2 {
  font-size: 24px;
  font-weight: 200;
  margin-top: 20px;
}

.artist-box h1 {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10px;
}
.artist-box ul {
  list-style-type: disc;
  padding-left: 20px;
  color: white;
}

.artist-box ul ul {
  font-size: 10px;
  list-style-type: circle;
  padding-left: 20px;
}
.artist-box ul ul li {
  font-size: 12px;
}

.artist-box li {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 6px;
  color: white;
}

.artist-box li {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 6px;
  color: white;
}
.outer-table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
.outer-table th {
   border: 1px solid white;
  padding: 8px;
  text-align: left;
  color: white;
  font-weight: 10;
  font-size: 12px;
}
.outer-table td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
  color: white;
  font-weight: 10;
  font-size: 12px;
}
<!--reference for zebra striping a table https://www.w3schools.com/howto/howto_css_table_zebra.asp-->
.outer-table tr:nth-child(even) td {
  background-color: rgba(172, 11, 11, 0.86);
}
.outer-table tr:nth-child(odd) td {
  background-color: rgba(9, 1, 1, 0.2);
}
.nested-table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
}
.nested-table td {
  border: 1px solid white;
  padding: 6px;
  color: white;
  font-weight: 10;
  font-size: 12px;
}
.gallery-page h1 {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 10px;
}

.gallery-page p {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 20px;
}

.center-box {
  max-width: 600px;
  margin: 100px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.36);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font-weight: 200;
}

h1 {
  font-weight: 200;
  font-style: normal;
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
  font-size: 20px;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 200;
}
<!--reference for flex box items https://www.w3schools.com/css/css3_flexbox.asp-->
.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-page .caption {
  font-size: 8px;
  font-weight: 200;
}

.nav-button {
  display: inline-flex;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  text-decoration: none;
  font-weight: 200;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
<!--hover button reference https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover--!>
.nav-button:hover {
  background-color: white;
  color: #1c2230;
}
<!-- reference for button styling https://www.w3schools.com/css/css3_buttons.asp-->
.nav-buttons {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-buttons li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  text-decoration: none;
  font-weight: 200;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-buttons li a:hover {
  background-color: white;
  color: #1c2230;
}

.mini-button {
  font-size: 12px;
  padding: 6px 12px;
  border-width: 1px;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.05);
  font-weight: 200;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 10px 0;
}

.footer-credit {
  font-size: 4px;
  color: white;
  opacity: 0.7;
  margin: 0;
  text-align: center;
  font-weight: 200;
}

.footer-credit a {
  color: white;
  text-decoration: underline;
  opacity: 0.8;
  font-weight: 200;
}




